	
	</body>

	<!-- FOOTER -->
	<div class="container-fluid">
		<div class="row position-absolute bottom-0 start 0 p-3 col-12 bg-dark text-white">
			<footer>
				<!--Auteur-->
				<div class="ms-3 mt-2">
					<p>design by @AAmboise </p>
				</div>

				  <!--Logo social media-->
				<ul class="list-inline position-absolute top-50 end-0 translate-middle-y me-5">
					<li class="list-inline-item">
					<a href="https://www.facebook.com/" target="_blank">
						<i class="fab fa-facebook"></i>
					</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.instagram.com/?hl=fr" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="http://www.twitter.com" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.youtube.com/user/thinkerview/videos" target="_blank">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
			</footer>
		</div>
	</div>

</html>