<div class="container-fluid">
	<div class="row">
		<header class="d-flex justify-content-center bg-dark py-3">
			<ul class="nav nav-pills">
				<li class="nav-item"><a href="index.php" class="nav-link active" aria-current="page">Home</a></li>
				<li class="nav-item"><a href="index.php?routeur=inscription" class="nav-link">S'inscrire</a></li>
				<li class="nav-item"><a href="index.php?routeur=connexion" class="nav-link">Se connecter</a></li>
				<li class="nav-item"><a href="index.php?routeur=apropos" class="nav-link">A propos</a></li>
			</ul>
		</header>		
	</div>
</div>